{{#each movies}}


<div  class="col-md-3 col-xs-12 movie-margin movies" watched="{{watched}}" data-key="{{@key}}">
  <div class="col-md-12 col-xs-12 movie-info ">

   <div class="row ratingButtonDiv">
        <div class="button button-padding col-md-5 col-sm-5 col-xs-5 col-md-offset-7">
          <button class="btn btn-md delButton col-md-10 col-md-ofset-2 pull-right">
            <span class="glyphicon glyphicon-trash pull-right" aria-hidden="true"></span>
          </button>
        </div> <!--end  button div -->
      </div> <!-- end rating & button row-->

    <div class="row posterRow">
      <div class="poster col-md-12 col-sm-12 col-xs-12">
        <img class= "col-md-12 col-md-offset-0 col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3" src={{poster}} width="200" height="175">
      </div>
    </div> <!-- end posterRow-->

    <div class="row titleRow">
      <div class="movieTitle col-md-12 col-sm-12 col-xs-12">
        <h4 class="movie-title" id="{{Title}}">{{Title}} <small>( {{Year}} )</small></h4>
        <div class="addtowatched"><h5><a href="#">Watched</a></h5></div>
        <input type="hidden" class="rating"/>
      </div>
    </div> <!-- end titleRow-->
  </div> <!-- movie info div -->
</div> <!-- movie margin div -->
{{/each}}
