{{#each movies}}


<div  class="col-md-3 col-xs-12 movie-margin movies" watched="{{watched}}" wishlist="{{wishlist}}" showmovies="{{showmovies}}">
  <div class="col-md-12 col-xs-12 movie-info ">

   <div class="row ratingButtonDiv">
        <div class="button button-padding col-md-5 col-sm-5 col-xs-5 col-md-offset-7">
          <button class="btn btn-md delButton col-md-10 col-md-ofset-2 pull-right">
            <span class="glyphicon glyphicon-trash pull-right" aria-hidden="true"></span>
          </button>
        </div> <!--end  button div -->
      </div> <!-- end rating & button row-->

    <div class="row posterRow">
      <div class="poster col-md-12 col-sm-12 col-xs-12">
        <img class= "col-md-12 col-md-offset-0 col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3" src={{poster}} width="200" height="175">
      </div>
    </div> <!-- end posterRow-->
  <!-- Showing movies to add to wishlist -- >
 <div class="row titleRow">
      <div class="movieTitle col-md-12 col-sm-12 col-xs-12">
        <h4 class="movie-title" id="{{Title}}">{{title}} <small>( {{year}} )</small></h4>
        <div class="addtowishlist"><h5><a href="#">Add to wishlist</a></h5></div>
      </div>
    </div> <!-- end titleRow-->

<!-- If Movie Watched is "true" Display -->
    {{#if watched}}
 <div class="row titleRow">
      <div class="movieTitle col-md-12 col-sm-12 col-xs-12">
        <h4 class="movie-title" id="{{Title}}">{{Title}} <small>( {{Year}} )</small></h4>
        <input type="hidden" class="rating"/>
      </div>
    </div> <!-- end titleRow-->

    {{/if}}
<!-- If Movie is in Wishlist and wishlist is "true" Display -->

        {{#if wishlist}}
 <div class="row titleRow">
      <div class="movieTitle col-md-12 col-sm-12 col-xs-12">
        <h4 class="movie-title" id="{{Title}}">{{Title}} <small>( {{Year}} )</small></h4>
        <div class="addtowatched" data-key="{{@key}}"><h5><a href="#">Add To Watched</a></h5></div>
      </div>
    </div> <!-- end titleRow-->

    {{/if}}
  </div> <!-- movie info div -->
</div> <!-- movie margin div -->
{{/each}}
